# Byte-compiled / optimized / DLL files
*.pkl
events.out.tfevents*
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
deskvenv/bin/activate
deskvenv/bin/activate.csh
deskvenv/bin/activate.fish
deskvenv/bin/activate_this.py
deskvenv/bin/easy_install-3.5
deskvenv/bin/ipdb3
deskvenv/bin/iptest
deskvenv/bin/iptest3
deskvenv/bin/ipython
deskvenv/bin/jsonschema
deskvenv/bin/jupyter
deskvenv/bin/jupyter-bundlerextension
deskvenv/bin/jupyter-console
deskvenv/bin/jupyter-kernelspec
deskvenv/bin/jupyter-migrate
deskvenv/bin/jupyter-nbconvert
deskvenv/bin/jupyter-nbextension
deskvenv/bin/jupyter-qtconsole
deskvenv/bin/jupyter-run
deskvenv/bin/jupyter-serverextension
deskvenv/bin/jupyter-troubleshoot
deskvenv/bin/jupyter-notebook
deskvenv/bin/jupyter-kernel
deskvenv/bin/jupyter-trust
deskvenv/bin/markdown_py
deskvenv/bin/pip
deskvenv/bin/pip3.5
deskvenv/bin/pygmentize
deskvenv/bin/python-config
deskvenv/bin/python3
deskvenv/bin/python3.5
deskvenv/bin/python
deskvenv/bin/pip3
deskvenv/bin/tensorboard
deskvenv/bin/saved_model_cli
deskvenv/bin/toco
deskvenv/bin/tqdm
deskvenv/bin/wheel
deskvenv/etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
deskvenv/include/python3.5m
deskvenv/man/man1/tqdm.1
deskvenv/pip-selfcheck.json
deskvenv/bin/toco_from_protos
deskvenv/share/jupyter/kernels/python3/kernel.json
deskvenv/share/jupyter/kernels/python3/logo-32x32.png
deskvenv/share/jupyter/kernels/python3/logo-64x64.png
deskvenv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map
deskvenv/share/man/man1/ipython.1.gz
deskvenv/bin/ipython3
deskvenv/bin/f2py
deskvenv/bin/easy_install
deskvenv/bin/freeze_graph
deskvenv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js
deskvenv/src/metasense/
match_5Second/donovan/Round1/match_round_1_donovan_21.csv
match_5Second/donovan/Round2/match_round_2_donovan_18.csv
match_5Second/donovan/Round3/match_round_3_donovan_11.csv
match_5Second/donovan/Round3/match_round_3_donovan_13.csv
match_5Second/elcajon/Round1/match_round_1_elcajon_11.csv
match_5Second/elcajon/Round1/match_round_1_elcajon_13.csv
match_5Second/elcajon/Round1/match_round_1_elcajon_12.csv
match_5Second/donovan/Round3/match_round_3_donovan_12.csv
match_5Second/donovan/Round2/match_round_2_donovan_20.csv
match_5Second/elcajon/Round2/match_round_2_elcajon_19.csv
match_5Second/elcajon/Round3/match_round_3_elcajon_15.csv
match_5Second/elcajon/Round3/match_round_3_elcajon_18.csv
match_5Second/elcajon/Round3/match_round_3_elcajon_20.csv
match_5Second/shafter/Round1/match_round_1_shafter_18.csv
match_5Second/shafter/Round1/match_round_1_shafter_20.csv
match_5Second/shafter/Round1/match_round_1_shafter_15.csv
match_5Second/shafter/Round2/match_round_2_shafter_11.csv
match_5Second/elcajon/Round2/match_round_2_elcajon_21.csv
match_5Second/shafter/Round2/match_round_2_shafter_12.csv
match_5Second/shafter/Round2/match_round_2_shafter_13.csv
match_5Second/shafter/Round3/match_round_3_shafter_17.csv
match_5Second/shafter/Round3/match_round_3_shafter_19.csv
match_5Second/shafter/Round3/match_round_3_shafter_21.csv
match_5Second/elcajon/Round2/match_round_2_elcajon_17.csv
match_5Second/donovan/Round2/match_round_2_donovan_15.csv
match_5Second/donovan/Round1/match_round_1_donovan_19.csv
match_5Second/donovan/Round1/match_round_1_donovan_17.csv
